
.page-landing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logo-landing{
    background: #8257E5;

    width: 50vw;
    height: 100vh;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    position: absolute;
}

.login-landing{
    
}